/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
/* 	padding: 0px 20px; */
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px !important;
	
	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;
	
	/*stacking fieldsets above each other*/
	/* 	position: absolute; */
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
/* 	display: none; */
}
/*inputs*/
#msform input, 
#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
}

#msform input[type=text],
#msform input[type=number] {
	width: 100% !important;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60 !important;
	font-weight: bold;
	color: white !important;
	border: 0 none !important;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/

#msform table {width:100%;}
#msform table tr {border:none;}
#msform table tr td {padding: 5px 10px;}

#msform table.clone th {padding:20px 0px 0px 15px;}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #000;
	text-transform: uppercase;
	font-size: 9px;
	width: 20%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #CCC;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #000;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.small-text {font-size: 12px;}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


#msform label {
	display: block;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #9e17af;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}



.inputfile-6 + label {
    color: #d3394c;
    display: inline-block !important;
}

.inputfile-6 + label {
    border: 1px solid #9e17af;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #9e17af;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #80138e;
}


.col-izquierda {
	border-right: 1px solid #CCC;	
}

.col-derecha {
	
}

#msform select {
    width: 100%;
    text-align: center;
    padding: 15px !important;
    background-color:#FFF;
    height: 52px;
    font-size: 16px;
}

#msform select:not([multiple]) {
/* 	background: none !important; */
	background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}


#contenedor_disponibilidad .frm-row {
	margin: 10px;
	padding: 10px 0px 10px 20px;
	background: #F4F4F4;
	position: relative;
}

#contenedor_disponibilidad .frm-row:last-child {
	margin-bottom: 50px;
}


/* #contenedor_disponibilidad select {background: #FFF;} */

.button_action {
	
}

#contenedor_disponibilidad a.clone {}
#contenedor_disponibilidad a.delete {
    position: absolute;
    right: -10px;
    top: -10px;
}

#msform .cols_3 {width:33%;}

/* RESERVA DE CUPOS */
.cupoDisponible {margin-bottom:10px;}
.cupoDisponible header {
    background: var(--et-main-color);
    color: #FFF;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
}

.cupoDisponible .contenedor {padding: 0px 10px 10px;border: 1px solid;}

.small-text {}
.large-text {font-size: 1.5em;font-weight: bold;}

/*
.btn {
    display: inline-block;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.btn-large {
    padding: 9px 27px;
    font-size: 16px;
}
*/

/*
.btn-primary {
	background-color: var(--et-main-color);
	border-color: var(--et-main-color);
}
*/

.fs-title {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 28px !important;
    line-height: 36px !important;
    letter-spacing: -0.6px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

#direccion label {
	display: block;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 19px;
    text-align: left;
    color:#000;
    margin-top:18px;
}