/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 
/*form styles*/
#msform {
	width: 100%;
	margin: 50px auto;
/* 	padding: 0px 20px; */
	text-align: center;
	position: relative;
}
#msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
/* 	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4); */
	padding: 20px 30px !important;
	
	box-sizing: border-box;
/* 	width: 80%; */
/* 	margin: 0 10%; */
	
	/*stacking fieldsets above each other*/
/* 	position: absolute; */
}

/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}

/*inputs*/
#msform input[type=text], 
#msform input[type=number], 
#msform textarea {
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2C3E50;
	font-size: 13px;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:16px;
}

#msform input[type=text],
#msform input[type=number] {
	width: 100% !important;
}
/*buttons*/
#msform .action-button {
	width: 100px;
	background: #27AE60 !important;
	font-weight: bold;
	color: white !important;
	border: 0 none !important;
	border-radius: 1px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
}
#msform .action-button:hover, #msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
/*headings*/

#msform table {width:100%;}
#msform table tr {border:none;}
#msform table tr td {padding: 5px 10px;}

#msform table.clone th {padding:20px 0px 0px 15px;}

.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2C3E50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
#progressbar {
	margin-bottom: 30px;
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
}
#progressbar li {
	list-style-type: none;
	color: #000;
	text-transform: uppercase;
	font-size: 9px;
	width: 16.5%;
	float: left;
	position: relative;
}
#progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: #CCC;
	border-radius: 3px;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#progressbar li:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #000;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
#progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,  #progressbar li.active:after{
	background: #27AE60;
	color: white;
}

.small-text {font-size: 12px;}


.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


#msform label {
	display: block;
}

.inputfile + label {
    max-width: 100%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #f1e5e6;
    background-color: #9e17af;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #722040;
}



.inputfile-6 + label {
    color: #d3394c;
    display: inline-block !important;
}

.inputfile-6 + label {
    border: 1px solid #9e17af;
    background-color: #f1e5e6;
    padding: 0;
}

.inputfile-6:focus + label,
.inputfile-6.has-focus + label,
.inputfile-6 + label:hover {
    border-color: #722040;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6 + label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #f1e5e6;
    background-color: #9e17af;
    display: inline-block;
}

.inputfile-6:focus + label strong,
.inputfile-6.has-focus + label strong,
.inputfile-6 + label:hover strong {
    background-color: #80138e;
}


.col-izquierda {
	border-right: 1px solid #CCC;	
}

.col-derecha {
	
}

#msform select {
    width: 100%;
    text-align: center;
    padding: 15px !important;
    background-color:#FFF;
    height: 52px;
    font-size: 16px;
}

#msform select:not([multiple]) {
/* 	background: none !important; */
	background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position:
    calc(100% - 20px) calc(1em + 10px),
    calc(100% - 15px) calc(1em + 10px);
  background-size:
    5px 5px,
    5px 5px;
  background-repeat: no-repeat;
}


#contenedor_disponibilidad .frm-row {
	margin: 10px;
	padding: 10px 0px 10px 20px;
	background: #F4F4F4;
	position: relative;
}

#contenedor_disponibilidad .frm-row:last-child {
	margin-bottom: 50px;
}


/* #contenedor_disponibilidad select {background: #FFF;} */

.button_action {
	
}

#contenedor_disponibilidad a.clone {}
#contenedor_disponibilidad a.delete {
    position: absolute;
    right: -10px;
    top: -10px;
}

#msform .cols_3 {width:33%;}

/* RESERVA DE CUPOS */
.cupoDisponible {margin-bottom:10px;}
.cupoDisponible header {
    background: var(--et-main-color);
    color: #FFF;
    text-align: center;
    padding: 10px 0px;
    border-radius: 10px 10px 0px 0px;
}

.cupoDisponible .contenedor {padding: 0px 10px 10px;border: 1px solid;}

.small-text {}
.large-text {font-size: 1.5em;font-weight: bold;}

/*
.btn {
    display: inline-block;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    line-height: 1.43;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
}

.btn-block {
    display: block;
    white-space: normal;
    width: 100%;
}

.btn-large {
    padding: 9px 27px;
    font-size: 16px;
}
*/

/*
.btn-primary {
	background-color: var(--et-main-color);
	border-color: var(--et-main-color);
}
*/

.fs-title {
    font-weight: 700 !important;
    color: #484848 !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin: 0px !important;
    word-wrap: break-word !important;
    font-size: 28px !important;
    line-height: 36px !important;
    letter-spacing: -0.6px !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

#msform label:not(.checkbox__container) {
	display: block;
    padding-top: 9px;
    padding-bottom: 8px;
    font-size: 19px;
    text-align: left;
    color:#000;
    margin-top:18px;
}

#facilities {
	text-align:left;
	font-weight: 300 !important;
    cursor: pointer !important;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 19px !important;
    line-height: 24px !important;
    letter-spacing: undefined !important;
    padding-top: undefined !important;
    padding-bottom: undefined !important;
    color: #484848 !important;
    display: inline-block !important;
    position: relative !important;
    top: -3px !important;
    vertical-align: top !important;
    padding-left: 8px !important;
	}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
@import 'https://fonts.googleapis.com/css?family=Poiret+One';
	
/* Custom Code Here */
.nice-checkbox .check input {
  display: none;
}

.nice-checkbox .check input:checked + label .box {
  -webkit-animation: animOn 0.6s 1 forwards;
          animation: animOn 0.6s 1 forwards;
  background: rgba(var(--et-main-rgb) , 0.9);
}
.nice-checkbox .check input:checked + label .box i {
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  opacity: 1;
  color: #FFF;
}
.nice-checkbox .check label {
  min-width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
/*   min-height: 60px; */
  cursor: pointer;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
}
.nice-checkbox .check label .box {
  background: rgba(var(--et-main-rgb) , 0.5);
  border-radius: 5px;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-transition: background 300ms ease;
  transition: background 300ms ease;
  display: inline-block;
}

.nice-checkbox .check label .box-text {
	display:inline-block;
	position: relative;
	top: -5px;
}

.nice-checkbox .check label .box:hover {
  background: rgba(var(--et-main-rgb) , 0.4);
}
.nice-checkbox .check label .box i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  display: inline-block;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translate(-50%, -50%) scale(6);
          transform: translate(-50%, -50%) scale(6);
}

@-webkit-keyframes animOn {
  40% {
    height: 10px;
    width: 10px;
  }
  60% {
    height: 30px;
    width: 30px;
  }
  75% {
    height: 30px;
    width: 30px;
  }
  100% {
    height: 20px;
    width: 20px;
  }
}

@keyframes animOn {
  40% {
    height: 15px;
    width: 60px;
  }
  60% {
    height: 35px;
    width: 20px;
  }
  75% {
    height: 15px;
    width: 35px;
  }
  100% {
    height: 25px;
    width: 25px;
  }
}
/* end of custom code */

#et_meta_precio {text-align:right;}




div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 36px !important;
  color: #afd0fd !important;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
	/*   content: '\E9D0'; */
	content: '\E9CF';
	color: #0f75c8;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #008bfa;
  text-shadow: 0 0 20px #007cff;
}

input.star-1:checked ~ label.star:before { color: #0f75c8; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\E9CF';
}

#controles{position: fixed;bottom: 0px; left: 0px; width: 100%; background:#FFF;border-top:1px solid #CCC;z-index:999;}